#home-page:hover{
    text-decoration: none;
}
.row .control-label{
    margin-top: auto;
    font-size: 17px;
}
.vcet:hover{
    background-color: #d9d9d9;
}
body{
    background-color: #eff5f5;
}
.nav li{
    text-align: center;
}
.nav li a:hover{
    background-color:  #d9d9d9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

@media (min-width: 576px) {

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {

}
